<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MPHWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletProject</display-name>
    <servlet-name>ServletProject</servlet-name>
    <servlet-class>mph.servlet.ServletProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProject</servlet-name>
    <url-pattern>/ServletProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>mph.servlet.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRegistration</display-name>
    <servlet-name>ServletRegistration</servlet-name>
    <servlet-class>mph.servlet.ServletRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistration</servlet-name>
    <url-pattern>/ServletRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletGroup</display-name>
    <servlet-name>ServletGroup</servlet-name>
    <servlet-class>mph.servlet.ServletGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGroup</servlet-name>
    <url-pattern>/ServletGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPerson</display-name>
    <servlet-name>ServletPerson</servlet-name>
    <servlet-class>mph.servlet.ServletPerson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPerson</servlet-name>
    <url-pattern>/ServletPerson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUpDown</display-name>
    <servlet-name>ServletUpDown</servlet-name>
    <servlet-class>mph.servlet.ServletUpDown</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUpDown</servlet-name>
    <url-pattern>/ServletUpDown</url-pattern>
  </servlet-mapping>
</web-app>